<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <% if user_signed_in? %>
          <%= link_to "O Auth", me_path, id: "logo" %>
          <div id="links">
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          </div>
      <% else %>
          <%= link_to "O Auth", root_path, id: "logo" %>
      <% end %>
    </div>
  </div>
</header>